@charset "UTF-8";
a, body, div, em, footer, h1, h2, h3, h4, h5, header, html, img, ins, li, main, nav, p, span, sub, sup, table, tbody, td, th, thead, ul, var {
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  font-size: 1em;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-indent: 0;
}

a:link {
  color: #992222;
}

a:visited {
  color: #e99e9e;
}

a:focus, a:hover {
  color: #460f0f;
}

a:link:focus, a:link:hover, a:visited:focus, a:visited:hover {
  background-color: #f3c7c7;
}

a:link:active, a:visited:active {
  background-color: #460f0f;
  color: #f3c7c7;
}

body {
  background-color: #f5f5f5;
  color: #0a0a0a;
  font-family: "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic ProN W3", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic Pro", "Hiragino Kaku Gothic Pro W3", "ヒラギノ角ゴ Pro W3", sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5em;
}

img {
  border-style: none;
}

header {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #0a0a0a;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding: 0.5em;
}

footer {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #0a0a0a;
  color: #555555;
  font-size: 80%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  padding: 0.5rem;
  text-align: right;
}

h1 {
  font-size: 130%;
  margin-bottom: 0.75rem;
}

h2 {
  font-size: 120%;
  margin-top: 0.75rem;
}

h2 + div {
  margin-left: 1rem;
  margin-top: 0.75rem;
}

h3 {
  font-size: 110%;
  margin-left: 1rem;
  margin-top: 0.75rem;
}

h3 + div {
  margin-left: 2rem;
  margin-top: 0.75rem;
}

h4 {
  margin-left: 2rem;
  margin-top: 0.75rem;
}

h4 + div {
  margin-left: 3rem;
  margin-top: 0.75rem;
}

h5 {
  margin-left: 3rem;
  margin-top: 0.75rem;
}

h5 + div {
  margin-left: 4rem;
  margin-top: 0.75rem;
}

div.touch, div.words {
  margin-top: 0.5em;
}

div.touch.wait, div.words.wait {
  margin-top: 2em;
}

hr.cut {
  border-style: solid;
  border-color: #7f7f7f;
  border-width: 1px;
  height: 0.75em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  width: 0.75em;
}

div.choices div.touch {
  display: inline-block;
}

div.touch div.content, div.touch p.content {
  border-style: solid;
  border-width: 2px;
  display: inline-block;
  padding: 0.25em;
}

div.touch.mobage.choice-1 div.content, div.touch.mobage.choice-1 p.content {
  background: #c7f5ff;
  border-color: #44aeff;
}

div.touch.mobage.choice-2 div.content, div.touch.mobage.choice-2 p.content {
  background: #ffdbe0;
  border-color: #dd2f2f;
}

div.touch.mobage.choice-idol-diagnosis div.content, div.touch.mobage.choice-idol-diagnosis p.content {
  background: white;
  border-color: #7f7f7f;
  border-radius: 1em;
  color: white;
  text-shadow: 1px 1px 0 #7f7f7f, -1px 1px 0 #7f7f7f, 1px -1px 0 #7f7f7f, -1px -1px 0 #7f7f7f;
}

div.touch.mobage.choice-idol-diagnosis.select div.content, div.touch.mobage.choice-idol-diagnosis.select p.content {
  background: linear-gradient(white, #f24aa8);
  border-color: #130387;
  border-radius: 1em;
  color: white;
  text-shadow: 1px 1px 0 #6b1035, -1px 1px 0 #6b1035, 1px -1px 0 #6b1035, -1px -1px 0 #6b1035;
}

div.touch.sl-stage.choice-1 div.content, div.touch.sl-stage.choice-1 p.content {
  background: linear-gradient(white, #fbd5e3);
  border-color: #ea1a68;
}

div.touch.sl-stage.choice-2 div.content, div.touch.sl-stage.choice-2 p.content {
  background: linear-gradient(white, #666666);
  border-color: #000000;
}

div.touch.sl-stage.choice-3 div.content, div.touch.sl-stage.choice-3 p.content {
  background: linear-gradient(white, #666666);
  border-color: #000000;
}

div.words p.name, div.item p.name {
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: #7f7f7f;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #7f7f7f;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #7f7f7f;
  display: inline-block;
  padding: 0.25em;
}

div.words div.content, div.words p.content, div.item div.content, div.item p.content {
  border-style: solid;
  border-width: 1px;
  border-color: #7f7f7f;
  padding: 0.25em;
}

div.words div.content p.datetime, div.words p.content p.datetime, div.item div.content p.datetime, div.item p.content p.datetime {
  color: #7f7f7f;
  text-align: right;
}

div.words div.content p.shout, div.item div.content p.shout {
  font-size: 150%;
  line-height: 150%;
}

div.words + p, div.item + p {
  margin-top: 0.5em;
}

p.img {
  line-height: 1em;
  overflow: hidden;
  text-align: center;
}

p.margin-1 {
  margin-top: 1em;
}

p.margin-2 {
  margin-top: 2em;
}

p.margin-3 {
  margin-top: 3em;
}

p.margin-4 {
  margin-top: 4em;
}

p.margin-5 {
  margin-top: 5em;
}

p.margin-6 {
  margin-top: 6em;
}

p.margin-7 {
  margin-top: 7em;
}

p.margin-8 {
  margin-top: 8em;
}

p.margin-9 {
  margin-top: 9em;
}

sub, sup {
  font-size: 70%;
  line-height: 0.1em;
}

sub {
  vertical-align: -0.2em;
}

sup {
  vertical-align: 0.6em;
}

table {
  border-collapse: collapse;
  border-color: #0a0a0a;
  border-spacing: 0;
  border-style: solid;
  border-width: 1px;
  margin-left: auto;
  margin-right: auto;
}

td, th {
  border-color: #0a0a0a;
  border-style: solid;
  border-width: 1px;
  padding: 2px;
  white-space: nowrap;
}

td.description {
  white-space: normal;
}

td.not-applicable, td.not-determined {
  color: #7f7f7f;
  text-align: center;
}

td.not-applicable sup, td.not-determined sup {
  color: #0a0a0a;
}

td.numeric-value {
  text-align: right;
}

thead {
  text-align: center;
}

ul {
  list-style: none;
}

ul li:before {
  content: "\25b6";
}

ul li ul li {
  margin-left: 1.125em;
}

ul li ul li:before {
  content: "\25b7";
}

ul li ul li ul li {
  margin-left: 1.125em;
}

ul li ul li ul li:before {
  content: "\30fb";
}

ul li:before, ul li ul li:before, ul li ul li ul li:before {
  display: inline-block;
  width: 1.125em;
}

li p {
  padding-left: 1.125em;
}

li p:first-child {
  margin-top: -1.5em;
}

var {
  background-color: #ffffdf;
  color: #008000;
}

.level-1 {
  margin-left: 1em;
}

.level-2 {
  margin-left: 2em;
}

.level-3 {
  margin-left: 3em;
}

.level-4 {
  margin-left: 4em;
}

.level-5 {
  margin-left: 5em;
}

.level-6 {
  margin-left: 6em;
}

.level-7 {
  margin-left: 7em;
}

.level-8 {
  margin-left: 8em;
}

.level-9 {
  margin-left: 9em;
}

.indent {
  text-indent: 1em;
}

.margin {
  margin-top: 0.5em;
}

.cinderella-post-tag {
  background-color: #999999;
  border-radius: 0.75em;
  color: #ffffff;
  display: inline-block;
  padding-left: 1em;
  padding-right: 1em;
  text-shadow: 1px 1px 0 #36a6fd, -1px 1px 0 #36a6fd, 1px -1px 0 #36a6fd, -1px -1px 0 #36a6fd;
}

#flex-container {
  display: flex;
}
