#flex-container {
  flex-direction: column;
}

nav {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #0a0a0a;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-top: 0.5em;
  order: 2;
  padding: 0.5em;
}

main {
  margin-left: 0.5em;
  margin-right: 0.5em;
  order: 1;
  padding: 0.5em;
}
